nltk
pandas
git+https://github.com/bendavis78/pyStatParser.git@python3
git+https://github.com/pattern3/pattern.git
networkx
pydot
plotly
git+https://github.com/brianray/networkx_viewer.git
git+https://github.com/sloria/TextBlob.git
